
<h2>
    <% if(!currentUser.currentContent.isFavorite) { %>   
        <% str = '<form action="/add-download"> <button type="submit" class="btn btn-danger btn-lg"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Download</button> </form>' %>
        <%- str%>
    <%} %>   

</h2>