<!-- views/partials/header.ejs -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">OpenBooks</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <!-- <li><a href="/content">Content</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
  <% if(currentUser.username == null){ %>
  <%- '<li><a href="/auth/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>' %>
  <%- '<li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>' %>
  <% }else{ %>
    <%- '<li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>' %>
    <%- '<li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>' %>
  <% } %>
   </ul>
  </div>
</nav> </nav>

