<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>About.</h1>
        <p>OpenBooks is maintained by the following dedicated volunteers</p>
	<ul>
		<li>Feiyu</li>
		<li>Brett</li>
		<li>Adham</li>
	</ul>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
