
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2><%= currentContent.title %></h2>
        <h3>Written by <i><%= currentContent.author %></i></h3>
        <h3>Published by <i><%= currentContent.publication_name %></i></h3>
        <a href="/files/<%= currentContent.content_id %>.txt" download>Download</a>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
