<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h1>Books.</h1>
	<div class="container">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Title</th>
	        <th>Genre</th>
	        <th>Author</th>
	        <th>Publisher</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Harry Potter</td>
	        <td>Scary</td>
	        <td>Mike Wu</td>
	        <td>Penguin</td>
	      </tr>      
	   </tbody>
	  </table>
</div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
