
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2><%= currentUser.currentContent.title %></h2>
        <% if(firebase.auth().currentUser != null){ %>
        <% include ../partials/favorite %>
        <% } %>
        <h3>Written by <i><%= currentUser.currentContent.author %></i></h3>
        <h3>Published by <i><%= currentUser.currentContent.publisher %></i></h3>
        <a href="/files/<%= currentUser.currentContent.content_id %>.txt" download>Download</a>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
