<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome to OpenBooks.</h1>
        <p>OpenBooks is a lightweight platform empowering users to download and review literature.<br> We offer content in the following categories:</p>
	<ul>
		<li><a href="/books">Books</a></li>
		<li><a href="/poems">Poems</li>
		<li><a href="/newspapers">Newspapers</li>
		<li><a href="/articles">Articles</li>
		<li><a href="/magazines">Magazines</li>
		<li>And More!</li>
	</ul>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
