<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
	<% if(locals.message){ %>
		<%-'<div class="alert alert-success" role="alert">' + message +  '</div>'  %>
	<% } %>
    <div class="jumbotron">
		<h1>Welcome to OpenBooks     <span style="float:right;">
		<a href="/content" class="btn btn-primary" role="button" aria-pressed="true">Browse All Content</a>

			</span></h1>
        <p>OpenBooks is a lightweight platform empowering users to download and review literature.<br>
		We offer content in the following categories:</p>
	<ul>
		<div class="content" style="font-family: 'Raleway',Helvetica,Arial,sans-serif; box-sizing: border-box; 
		font-size: 14px; width: 250px; display: inline-block; padding: 20px; outline: solid; background-color: antiquewhite;
		margin: 15px 75px 35px 25px;">
			<center><img src="/images/books.png" style="margin-bottom: 20px"/></center>
			<center><a href="/books">Books</a></center>
		</div>
		<div class="content" style="font-family: 'Raleway',Helvetica,Arial,sans-serif; box-sizing: border-box; 
		font-size: 14px; width: 250px; display: inline-block; padding: 20px; outline: solid; background-color: antiquewhite;
		margin-right: 75px;">
			<center><img src="/images/poem.png" style="margin-bottom: 20px"/></center>
			<center><a href="/poems">Poems</a></center>
		</div>
		<div class="content" style="font-family: 'Raleway',Helvetica,Arial,sans-serif; box-sizing: border-box; 
		font-size: 14px; width: 250px; display: inline-block; padding: 20px; outline: solid; background-color: antiquewhite;
		margin-right: 20px;">
			<center><img src="/images/newspaper.png" style="margin-bottom: 20px"/></center>
			<center><a href="/magazines">Newspapers</a></center>
		</div>
		<div class="content" style="font-family: 'Raleway',Helvetica,Arial,sans-serif; box-sizing: border-box; 
		font-size: 14px; width: 250px; display: inline-block; padding: 20px; outline: solid; background-color: antiquewhite;
		margin: 0px 75px 35px 190px">
			<center><img src="/images/magazine.png" style="margin-bottom: 20px"/></center>
			<center><a href="/magazines">Magazines</a></center>
		</div>
		<div class="content" style="font-family: 'Raleway',Helvetica,Arial,sans-serif; box-sizing: border-box; 
		font-size: 14px; width: 250px; display: inline-block; padding: 20px; outline: solid; background-color: antiquewhite;
		margin: 0px 75px 35px 0px">
			<center><img src="/images/article.png" style="margin-bottom: 20px"/></center>
			<center><a href="/articles">Articles</a></center>
		</div>
	</ul>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
