<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
	<% if(locals.message){ %>
		<%-'<div class="alert alert-success" role="alert">' + message +  '</div>'  %>
	<% } %>	
    <div class="jumbotron">
		<h1>Search Results for "<%= q %>" </h1>
	
		<div class="container">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Title</th>
	        <th>Content Type</th>
	      </tr>
	    </thead>
	    <tbody>
			<%- rows %>    
	   </tbody>
	  </table>
</div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
